# Application environment
APP_ENV

# Vehicle identifier
VIN

# Kafka broker connection
KAFKA_BROKER_URL

# Schema Registry URL for Kafka schemas
SCHEMA_REGISTRY_URL

# CAN network type
CAN_NETWORK
# CAN interface address
CAN_NETWORK_ADDRESS

# MongoDB adddress
MONGODB_URI
# Destined MongoDB database
MONGODB_DATABASE
# Destined MongoDB collection
MONGODB_COLLECTION
# MongoDB username
MONGODB_AUTH_USER
# MongoDB password
MONGODB_AUTH_PASSWORD

# Serial port for data consuming
SERIAL_PORT
